# Aquest fitxer és un exemple. El que has de fer és:
# 1. Fer una còpia d'aquest fitxer i anomenar-lo .env (cp .env.example .env)
# 2. Obtenir un token d'accés ("access token") de Hugging Face anant a: https://huggingface.co/settings/tokens
# 3. Canviar la variable HF_TOKEN a sota i posar el teu nou token.
#
# Nota important: Assegurat que el teu compte té permisos per descarregar models de la familia Gemma de Google, anant a la pàgina del model i acceptant les condicions.

HF_TOKEN=el_teu_token_de_hugging_face_aqui_sb_XXXXXXXX

# Pots escollir quin model exacte de Gemma vols descarregar per defecte:
MODEL_ID=google/gemma-2b
